<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to RLD</h2>
    <p> 
		Some text about the game !! Find your route to the RLD.
    </p>
	
	<div>
	
		<a ng-click="goCulture()" class="button button-full button-large button-assertive">Cultural</a>
	
	</div>

 	<div><button class="button button-full button-large button-positive">
	Party lover</button></div>
	<div><button class="button button-full button-large button-royal">
	Customer
	</button>
	</div>
  </ion-content>
</ion-view>